.genre-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);
  gap: 12px;
  max-width: 300px;
  margin: 0 auto;
}

.genre-button {
  background-color: rgb(207, 9, 9);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.genre-button:hover {
  background-color: #0056b3;
}
